
<nav style="background-color: #3BB07E;">
  <div style="display: flex; justify-content: space-between;">
    <div style="display: flex; justify-content: space-between;">
      <div style="margin-left: 50px; display: flex;align-items: center;">
        <ul style="display: flex;">
          <li style="color: gainsboro; margin-right: 40px; font-weight: bold; text-transform: uppercase; list-style: none;">Sistema de cadastro de usuário</li>
          <li style="list-style: none;"><a href="/" style="text-decoration: none;color: gainsboro;">Home</a></li>
        </ul>
      </div>
    </div>
    <div style="margin-right: 100px;">
      <ul style="display: flex; gap: 30px;">
        
        <% if(locals.isLogged){ %>
          <li style="list-style: none;"><a href="/user/profile" style="text-decoration: none; color: gainsboro;">Perfil</a></li>
          <li style="list-style: none;"><a href="/user/logout" style="text-decoration: none;color: gainsboro;">Sair</a></li>
        <% } else{ %>
            <li style="list-style: none;"><a href="/user/register" style="text-decoration: none;color: gainsboro;">Cadastrar usuário</a></li>
            <li style="list-style: none;"><a href="/user/login" style="text-decoration: none;color: gainsboro;">Login</a></li>
        <% } %> 
          
        
      </ul>
    </div>
  </div>
</nav>
